.app {
  padding: 15px;
  padding-top: 0;
  background: var(--bg-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app .container {
  display: flex;
  flex-grow: 1;
}

.app .container .left {
  flex: 4;
  height: 200px;
  padding-top: 45px;
}

.app .container .left .description {
  font-weight: 100;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.055em;
  margin-right: 34px;
  padding-bottom: 40px;
  color: #000000;
}

.app .container .left .controls {
  display: flex;
  border-top: 1px solid #C4C4C4;
}

.app .container .right {
  position: relative;
  flex: 5;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 9px;
  transition: background-image 0.1s ease-out;

}

.app .container .right img {
  position: absolute;
  top: 0;
  left: 20%;
  opacity: 0;
  transform: translate3d(-50%, 0, 0);
  transition: all 300ms ease-out ;
  height: 180px;
}

.app .container .right img.active {
  opacity: 1;
  transform: none;
}